@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #4338ca; /* indigo-700 */
	--primary-600: #4f46e5;
	--primary-700: #3730a3;
	--blue-dark: #0b3b75;
	--blue-light: #60a5fa;
	--accent: #f59e0b;
	--muted: #6b7280;
	--bg: #ffffff;
}

/* Button using css variable gradient fallback */
.btn-theme {
	background: linear-gradient(90deg, var(--primary-700), var(--primary-600));
	color: white;
}

.panel-gradient {
	background: linear-gradient(180deg, var(--blue-dark), var(--blue-light));
}

